@font-face {
    font-family: 'Gidole';
    src: url('/fonts/gidole-regular-webfont.woff2') format('woff2'),
         url('/fonts/gidole-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
